# .gitignore for .NET
[Bb]in/
[Oo]bj/
.vs/
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM64/

# Windows
Thumbs.db
Desktop.ini